@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Truculenta&display=swap');

$font-family:'Ranchers', cursive;
$font-family2: 'Truculenta', sans-serif;

h1 {
  font: normal normal 500 3rem/3rem $font-family;
  text-align: center;
}

h2 {
  font: normal normal 500 2rem/2rem $font-family;
  text-align: center;
}

h3 {
  font: normal normal 500 1.5rem/2rem $font-family2;
  text-align: center;
}

p {
  font: normal normal 500 1.25rem/1.5rem $font-family2;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 30%);
}

.title_and_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

ul {
  li {
    font: normal normal 400 1.25rem/1.5rem $font-family2;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
  }

  li:hover {
    background: black;
    color: white;
  }
}

.d-none {
  display: none;
}

.todo_container {
  margin: 0 1rem;
  padding: 0 1rem;
}

button {
  margin: 0 0.25rem;
}

form {
  width: 60%;
  margin: auto;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;

  .form_field {
    padding: 0.25rem;

    input {
      width: 90%;
    }
  }

  .btn {
    display: block;
    margin: auto;
    cursor: pointer;
  }
}
